.hero-area#snow
  %h1.hero-title EDEN AND CODY ARE GETTING MARRIED

  = link_to "RSVP NOW", "http://goo.gl/forms/i4Pnd9siP4EUbYS23", class: 'btn rsvp', target: "_blank"
  %h2.hero-subtitle More details to come...
