.btn {
  position: relative;
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #000;
  border: 3px solid $black;
  border-radius: 0px;
  background-color: transparent;
  margin: 5px 5px 0 0;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black;
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 100ms cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform 100ms cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform 100ms cubic-bezier(.16, .68, .43, .99);
    transition: transform 100ms cubic-bezier(.16, .68, .43, .99);
  }
  &:hover {
    color: $white;
    &:after {
      transform: scale(1, 1);
    }
  }
  &.small {
    font-size: 70%;
  }
  &.stretch {
    width: 100%;
  }
}

@hover-color: #22bad1;
